services:
  silverbullet:
    container_name: silverbullet
    image: ghcr.io/silverbulletmd/silverbullet:2.3.0
    restart: unless-stopped
    environment:
      SB_USER: "admin:admin"
      SB_HOSTNAME: "0.0.0.0"
      SB_AUTH_TOKEN: "gTNhyNDwJCSGVYCH"
    volumes:
      - silverbullet_data:/space
    ports:
      - 8017:3000
    networks:
      - personal_network

  silverbullet-mcp-server:
    image: ghcr.io/ahmad-a0/silverbullet-mcp:v1.0.0
    ports:
      - "8018:4000"
    environment:
      SB_AUTH_TOKEN: gTNhyNDwJCSGVYCH
      MCP_TOKEN: secret
      SB_API_BASE_URL: http://silverbullet:3000
      PORT: 4000
    depends_on:
      - silverbullet

volumes:
  silverbullet_data:
    driver: rclone
    driver_opts:
      type: "webdav"
      webdav_url: "http://localhost:4001"
      webdav_vendor: "other"
      webdav_user: "admin"
      webdav_pass: "LACyVhZAkys-312NHJJrUobWhYky"
      allow_other: "true"
      path: "personal-server/silverbullet"
      vfs_cache_mode: "writes"
      poll_interval: "30s"

networks:
  personal_network:
    external: true
