services:
  nginx-proxy-manager:
    hostname: nginx_proxy_manager
    image: 'jc21/nginx-proxy-manager:2.13.5'
    restart: unless-stopped
    network_mode: host
    # ports:
    #   - '80:80' # Public HTTP Port
    #   - '443:443' # Public HTTPS Port
    #   - '81:81' # Admin Web Port
    volumes:
      - nginx_data:/data
      - nginx_letsencrypt:/etc/letsencrypt
    # networks:
    #   - personal_network
    environment:
      DB_POSTGRES_HOST: localhost
      DB_POSTGRES_PORT: 5433
      DB_POSTGRES_USER: postgres
      DB_POSTGRES_PASSWORD: postgres
      DB_POSTGRES_NAME: nginx
      INITIAL_ADMIN_EMAIL: admin@admin.com
      INITIAL_ADMIN_PASSWORD: admin
    extra_hosts:
      - "host.docker.internal:host-gateway"
volumes:
  nginx_data:
  nginx_letsencrypt:

# networks:
#   personal_network:
#     external: true
