---
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Welcome | Akbar's Blog">
  <div class="index-content framed">
    <h1 id="hello">Hey, I'm Akbar 👋🏽</h1>
    <p>After graduate from Informatics ITB on 2025 (CGPA 3.88/4.00), I worked as Software engineer at Xendit Indonesia. Mostly building AI agents and automation.</p>
    <p>I build things, experiment things, break things, and now trying to write about it sometimes.</p>
  </div>
  
  <div class="posts">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>
