services:
  qdrant:
    image: qdrant/qdrant:v1.16
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    networks:
      - personal_network

volumes:
  qdrant_storage:

networks:
  personal_network:
    external: true
