# --- Garmin Connect ---
GARMINCONNECT_EMAIL=your_email@example.com
GARMINCONNECT_BASE64_PASSWORD=your_base64_encoded_password

# --- InfluxDB ---
INFLUXDB_USERNAME=influxdb_user
INFLUXDB_PASSWORD=influxdb_secret_password
INFLUXDB_DATABASE=GarminStats

# --- Grafana ---
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin
