services:
  teable:
    image: teableio/teable:429ff52a6c75fd9a6cef40f3f745c8a6a8b27bbaf6df3dfd53e68d72058a1fe0
    restart: unless-stopped
    ports:
      - "8015:3000"
    volumes:
      - teable-data:/app/.assets:rw
    env_file:
      - .env
    environment:
      NEXT_ENV_IMAGES_ALL_REMOTE: true
    networks:
      - personal_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      start_period: 5s
      interval: 5s
      timeout: 3s
      retries: 3

networks:
  personal_network:
    external: true

volumes:
  teable-data: {}
