services:
  # even though it's sandbox it doesn't really secure
  # but since the user is only one person then why make it complicated
  sandbox:
    build: .
    hostname: sandbox
    ports:
      - "8014:9000"
    cpus: 0.5
    mem_limit: 512Mi
    volumes:
      - sandbox_workspace:/home/sandbox/persistent:rw # persistent workspace (human-managed)
      - sandbox_tmp:/home/sandbox/workspace:rw # temporary sandbox workspace
    restart: unless-stopped # keep it running

volumes:
  sandbox_tmp:
  sandbox_workspace:
    driver: rclone
    driver_opts:
      type: "webdav"
      webdav_url: "http://localhost:4001"
      webdav_vendor: "other"
      webdav_user: "admin"
      webdav_pass: "LACyVhZAkys-312NHJJrUobWhYky"
      allow_other: "true"
      path: "personal-server/ai-workspace"
      vfs_cache_mode: "writes"
      poll_interval: "30s"
