services:
  # even though it's sandbox it doesn't really secure
  # but since the user is only one person then why make it complicated
  sandbox:
    build: .
    hostname: sandbox
    ports:
      - "8014:9000"
    cpus: 0.5
    mem_limit: 1024Mi
    volumes:
      - sandbox_workspace:/home/sandbox/persistent:rw # persistent workspace (human-managed)
      - sandbox_tmp:/home/sandbox/workspace:rw # temporary sandbox workspace
    restart: unless-stopped # keep it running
    # don't connect this sandbox to personal_network

  filestash:
    container_name: filestash
    image: machines/filestash@sha256:3db87b72418164f327c9f2f9f02a39bb2fa77a21cfd2d1b2734cec48ac06237b
    restart: unless-stopped
    environment:
      APPLICATION_URL: https:/filestash.akbarmr.dev
    ports:
      - "8015:8334"
    volumes:
      - filestash:/app/data/state/
    networks:
      - personal_network
    extra_hosts:
      - "personal-01:host-gateway"
      - "akbarmr.dev:host-gateway"

volumes:
  sandbox_tmp:
  sandbox_workspace:
    driver: rclone
    driver_opts:
      type: "webdav"
      webdav_url: "http://localhost:4001"
      webdav_vendor: "other"
      webdav_user: "admin"
      webdav_pass: "LACyVhZAkys-312NHJJrUobWhYky"
      allow_other: "true"
      path: "personal-server/ai-workspace"
      vfs_cache_mode: "writes"
      poll_interval: "30s"
  filestash:

networks:
  personal_network:
    external: true
